<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
<a href="/">go to home page</a>
    <h3>add a user on this page</h3>

    <form action="/create_new_user" method= "POST" >

        <hr>
        <label>first_name</label>
        <input type="text" name="first_name">
        <br>
        <label>last_name</label>
        <input type="text" name="last_name">
        <br>
        <label>email</label>
        <input type="text" name="email">
        <br>
        <button>Submit</button>

    </form>

</body>
</html>